body {
    background-color: #21222c;
}

hr { height: 2px;
    background-color: black; }

.imgOscura {
    filter: brightness(50%);
}


.carousel{
 padding: 1% 2% 1% 2%;
 margin: 0% 4% 0% 4% ;
}

nav.navbar {
    background-color: #ffffff !important;
    padding: 0 0 0 0;
    border-bottom-style:groove;
}

.tituloGrupos{
    padding: 1% 2% 0% 2%;
    margin-left: 4%;
}

.carousel2 .card{
    transition: all .5s;
    margin: 0% 2% 2% 2% !important;
    width: 14.5rem;
    height: 320px;
}

.card:hover{
    transform: scale(1.02);

}

.card-text{
    font-size: small;
}

.carousel2 .carousel-control-prev{
    margin-left: 0px !important;
    width: 100px !important;

}
.carousel2 .carousel-control-next{
    margin-right: 0px !important;
    width: 100px !important;

}

.carousel2 .carousel-control-prev-icon, .carousel2 .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgb(54, 54, 54);
    background-size: 80%, 80%;
    border-radius: 50%;
    border: 1px solid rgb(54, 54, 54);
}

