body {
    background-color: #21222c;
}

hr { height: 2px;
    background-color: black; }

.imgOscura {
    filter: brightness(50%);
}


.carousel{
 padding: 1% 2% 1% 2%;
}

nav.navbar {
    background-color: #ffffff !important;
    padding: 0 0 0 0;
    border-bottom-style:groove;
}

.tituloGrupos{
    padding: 1% 2% 1% 2%;
}
.card{
    margin: 0% 2% 2% 2% !important;
}

.img-fluid{
    margin: 10px 10px 10px 10px !important;
    transition: all .3s;
}

.img-fluid:hover{
    transform: scale(1.1) translateY(-10px);

}